h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
    text-decoration: none;
    font-size: x-large;
    text-align: center;
    color:blueviolet;
}

ul {
    list-style-type: none;
}